*~
a.out
*.bc
*.log
*.[ao]
config.*
configure
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
/c/chap14/count-lines
/c/chap14/depcomp
/c/chap14/install-sh
/c/chap14/libtool
/c/chap14/ltmain.sh
/c/chap14/m4/
/c/chap14/missing
/c/chap14/stamp-h1
